@import "../utils/placeholder";
@import "../utils/variables";
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 93px;
    background-color: $bg-color;
    padding-top: 50px;
    padding-bottom: 51px;
    position: relative;
    &__item{
        position: relative;
        width: 326px;
        &::after{
            content: "";
            padding-top: 124px;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.5) ;
            position: absolute;
            left: 326px;
            bottom: 70px;
        }
    }
}
.about__item-last::after{
    display: none;
}
.about__text{
    max-width: 308px;
    @extend %base-text;
    color: rgba(255, 255, 255, 0.7);
}
.about__title{
    font-size: 18px;
    color: $ui-color;
    font-family: Montserrat;
}
.about__svg-wrapper{
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    position: relative;
}
.about__svg{
    position: absolute;
    left: 16px;
    top: 16px;
}
.about__svg-coin{
    left: 17px;
}
@media (max-width:1024px){
    .about__item::after{
        content: "";
        display: none;
    }
    .about{
        gap: 70px;
    }
}
@media (max-width:768px){
    .about{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media (max-width:480px){
    .about{
        grid-template-columns: auto;
    }
}
