@import "../utils/placeholder";
@import "../utils/variables";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    &__list{
        display: flex;
        list-style: none;
        gap: 25px;
    }
    &__logo-wrapper{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &__logo{
        font-family: Montserrat;
        font-weight: 700;
        font-size: 18px;
    }
    &__link{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        color: $text-primary;
        &:hover{
            color: $decor-color;
        }
    }
    &__svg-wrapper{
        display: flex;
        gap: 19px;
    }
    &__svg:hover{
        fill: $decor-color;
    }
}
.hamburger-btn{
    display: none;
}
@media (max-width:1024px){
    .header__list{
        display: none;
    }
    .header__svg-wrapper{
        display: none;
    }
    .hamburger-btn{
        display: block;
    }  

    .menu-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $ui-color;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 100;
    height: 796px; 
}

    .menu-overlay.active {
        transform: translateX(0);

    }
    .hamburger-line {
            width: 20px;
            height: 2px;
            background: $ui-color;
            border-radius: 1px;
            transition: all 0.3s ease;
            background-color: $text-primary;
    }
    .hamburger-btn{
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        background-color: transparent;
        border: none;
        padding: 0;
    }
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    max-width: none;
}
.menu-overlay{
    display: none;
}
