@import "../utils/mixins";
@import "../utils/placeholder";
@import "../utils/variables";
.hero{
    font-family: Montserrat;
    background-image: url(/img/backround-img.jpg);
    height: 600px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: none;
    background-position: center;
    background-size: cover;
}
.hero__title{
    font-size: 28px;
    font-weight: 500;
    color: $ui-color;
    padding-left: 40px;
}
.hero__second-btn{
    font-family: Montserrat;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
    background-color: transparent;
    color: $ui-color;
    border: 1px solid $ui-color;
    font-size: 14px;
    font-weight: 600;
}
.hero__first-btn{
    font-family: Montserrat;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
    background-color: $decor-color;
    color: $ui-color;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
.hero__first-btn:hover{
    background-color: #FCF1E0;
    color: $decor-color;
}
.hero__second-btn:hover{
    border: 1px solid $decor-color;
    color: $decor-color;
}
.hero__text{
    font-weight: 500;
    font-size: 14px;
    color: $ui-color;
}
.hero__item-svg{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: $ui-color;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__list{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.hero__block{
    display: flex;
    align-items: center;
    gap: 15px;
}
.hero__decorative-line{
    height: 119px;
    background-color: $border-color;
    width: 1200px;
    position: relative;
    right: 15px;
    margin-bottom: 20px;
}
@media (max-width:768px){
    .hero{
        width: 93.7%;
        height: 890px;
        background-position: 950px;
        padding: 40px;
    }
    .hero__decorative-line{
        display: none;
    }
    .hero__list{
        flex-wrap: wrap;
        padding: 0;
        gap: 32px;
    }
    .hero__title{
        padding-left: 0;
        max-width: 486px;
    }
    .hero__row{
        display: none;
    }
}
@media (max-width:480px){
    .hero{
        max-height: 620px;
        background-position: 610px;
    }
    .hero__row{
        display: none;
    }
    .hero__list{
        flex-wrap: wrap;
        padding: 0;
    }
    .hero__title{
        padding: 0;
        font-size: 20px;
    }
    .hero__first-btn{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 28px;
        padding-right: 28px;
    }
    .hero__second-btn{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 28px;
        padding-right: 28px;
    }
    .hero__second-block{
        padding-bottom: 10px;
    }
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    max-width: none;
}