
 @use "../utils/variables" as *;
 .ingradients__title{
    text-align: center;
    margin: 0 auto;
    max-width: 411px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    padding-top: 30px;
}
.ingradients__text{
    padding-top: 37px;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-size: 14px; 
    text-align: center;
    margin: 0 auto;
    max-width: 486px;
}
.ingradients__list{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 19px;
}
.ingradients__title-span{
    color: $decor-color;
}
.ingradients__card{
    max-width: 268px;
    max-height: 268px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover .ingradients__overlay{
        transform: translateY(-254.5px);
    }
}
.ingradients__overlay{
    transform: translateY(50px);
    transition-duration: 1s;
    transition-timing-function: ease;
    overflow-y: scroll;
    min-width: 270px;
    min-height: 270px;
    background-color: $ui-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingradients__img{
    width: 206px;
    height: 160px;
    padding-top: 30px;
}

.ingradients__card-name{
    text-align: start;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin-right: auto;
    margin-left: 30px;
    padding-top: 47px;
    margin-top: 0;
    margin-bottom: 0;
}
.ingradients__wrapper-chocolate{
    background-color: $decor-color;
}


.ingradients__card-title{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600; 
    text-transform: uppercase; 
    width: 214px;
}
.ingradients__button-list{
    display: flex;
    gap: 6px;
    width: 214px;
}
.ingradients__button-name{
    width: 81px;
    height: 24px;
    border-radius: 35px;
    border: none;
    background-color: $decor-color;
    font-family: Montserrat;
    color: $ui-color;
    font-weight: 400;
    padding: 0;
    font-size: 10px;

}
.ingradients__button-benefits{
    width: 93px;
    height: 24px;
    border-radius: 35px;
    border: 1px solid $decor-color;
    background-color: transparent;
    font-family: Montserrat;
    color: $text-primary;
    font-weight: 400;
    padding: 0;
    font-size: 10px;
}
.ingradients__button-sweet-chocolate{
    width: 114px;
    height: 24px;
}
.ingradients__card-text{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-size: 14px; 
    color: $text-primary;
    max-width: 214px;
}
.ingradients__card-milk, .ingradients__card-sweet-chocolate{
    border: 1px solid $decor-color;
}
.ingradients__card-chocolate{
    background-color: $decor-color;
}
.ingradients__card-nuts{
    background-color: $bg-color;
}
.ingradients__card-name-nuts, .ingradients__card-name-chocolate{
    color: $ui-color;
}
@media (max-width:1024px){
.ingradients__list{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: unset;
    }
    .ingradients__card-name{
        margin-left: 10px;
    }
    .ingradients__card{
        max-width: none;
    }
    .ingradients__overlay{
        min-width: 100%;
    }
    .ingradients__card-text{
        max-width: 260px;
        margin-right: auto;
        padding-left: 20px;
        width: 85%;
    }
    .ingradients__card-title{
        max-width: 280px;
        margin-right: auto;
        padding-left: 20px;
    }
    .ingradients__button-list{
        max-width: 280px;
        justify-content: center;
        margin-right: auto;
    }
    .ingradients__button-list-sweet-chocolate{
        padding-left: 20px;
        flex-direction: column;
    }
}
@media (max-width:768px){
     .ingradients__card{
        min-width: 46.6% ;
        max-width: 336px;
    }
    .ingradients__list{
        grid-template-columns: auto auto;
    }
    .ingradients__card-text {
        max-width: 280px;
    }
    .ingradients__button-list{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (max-width:550px){
    .ingradients__button-list{
        flex-direction: column;
    }
}
@media (max-width:480px){
.ingradients__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ingradients__card{
        width: 100%;
    }
    .ingradients__button-list{
        flex-direction: row;
    }
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    max-width: none;
}